registry=https://registry.npmjs.org/
@ai-sdk:registry=https://registry.npmjs.org/
@radix-ui:registry=https://registry.npmjs.org/
@supabase:registry=https://registry.npmjs.org/
@eslint:registry=https://registry.npmjs.org/
@tailwindcss:registry=https://registry.npmjs.org/
@types:registry=https://registry.npmjs.org/
always-auth=false
